.header-wrapper {
  .navbar {
    background: #810083;

    .navbar-brand {
      strong {
        margin: 0 0 0 10px;

        p {
          font-size: 12px;
        }
      }
    }

    .form-group {
      display: flex;
    }
  }

  .form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
  }

  .btn-primary {
    background: #810083;
    border: 1px solid #810083;
  }

  .btn-light {
    margin: 0 5px;
  }
}



